* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: box-shadow 0.4s, opacity 0.4s, backdrop-filter 0.4s, border-radius 0.4s;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(-135deg, #fc466b, #3f5efb);
    color: #303030;
    overflow: hidden;
}

input {
    position: absolute;
    top: 2rem;
    left: 5%;
    width: 90%;
    height: 3rem;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    transition: 0.2s;
    border-radius: 1.5rem;
    background-color: #ffffff4d;
    color: #303030;
    box-shadow: 0 0px 25px -4px #1e1e3c40;
}

button,
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border-radius: 1.5rem;
    transition: 0.2s;
    background-color: #ffffff00;
    color: hsla(0, 0%, 100%, 0.602);
    box-shadow: 0 0px 25px -4px #1e1e3c40;
    cursor: pointer;
}

input:focus,
input:active,
select:active {
    background-color: #ffffff80;
}

button:hover,
.button:hover {
    color: #ffffff;
}

.appWrap {
    position: absolute;
    min-width: 23rem;
    min-height: 23rem;
    padding-top: 5rem;
    resize: both;
    overflow: auto;
    border-radius: 1.5rem;
    background-color: #ffffff4d;
    box-shadow: 0px 0px 40px -6px #00000033;
    backdrop-filter: blur(12px);
}

.wrapHeader {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0.75rem;
    background-color: #ffffff26;
    cursor: move;
    z-index: 3;
}

.removeButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffffff4d;
    color: #000;
}

#calendarWrap {
    width: 770px;
    padding-top: 1rem;
}

.todoInput {
    width: 60%;
}

.todoButton {
    position: absolute;
    top: 2rem;
    right: 35%;
    font-size: 3rem;
}

.todoContainer {
    display: flex;
    justify-content: center;
}

.todoList {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 50%;
    list-style: none;
}

.todo {
    display: flex;
    width: 100%;
    height: 3rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    transition: 0.2s;
    background-color: #ffffff4d;
    box-shadow: 0 0px 25px -4px #1e1e3c2a;
    transform: translateY(1rem);
}

.todoItem {
    width: 100%;
    padding: 0.4rem 1rem;
}

.completeButton,
.trashButton {
    height: 3rem;
    padding: 0 0.9rem;
    font-size: 1rem;
    background-color: #ffffff4d;
    color: #303030;
    box-shadow: -25px 0px 25px -13px rgba(30, 30, 60, 0.15);
}

.fa-check,
.fa-trash {
    pointer-events: none;
}

.completeButton {
    padding: 0 4rem 0 1.5rem;
}

.completeButton:hover {
    color: #adff2f;
}

.trashButton {
    position: absolute;
    right: 0;
    z-index: 2;
}

.trashButton:hover {
    color: #ff6347;
}

.fall {
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

select {
    appearance: none;
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
    padding: 0.3rem 1rem;
    transition: 0.2s;
    border-radius: 1.5rem;
    background-color: #ffffff4d;
    box-shadow: 0 0px 25px -4px #1e1e3c40;
    cursor: pointer;
}

.select {
    position: absolute;
    top: 2rem;
    right: 5%;
    width: 25%;
}

.fa-chevron-circle-down {
    position: absolute;
    right: 0;
    font-size: 3rem;
}

.temp,
.weather,
.highLow,
.city,
.date {
    display: flex;
    justify-content: center;
}

.temp {
    font-size: 4rem;
}

#header {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    height: 4rem;
    font-weight: 600;
}

#backButton,
#nextButton {
    position: absolute;
    top: 2.5rem;
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #ffffff9a;
    color: #303030;
}

#backButton:hover,
#nextButton:hover {
    background-color: #ffffff;
}

#nextButton {
    right: 1rem;
}

#backButton {
    right: 6rem;
}

#weekdays {
    display: flex;
}

#weekdays div {
    display: flex;
    justify-content: center;
    width: 7.5rem;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.day {
    width: 6.25rem;
    height: 6.25rem;
    padding: 0.7rem;
    margin: 0.3rem;
    border-radius: 1rem;
    transition: 0.2s;
    background-color: #ffffff4d;
    box-shadow: 0px 0px 27px -8px #1e1e3c4d;
    cursor: pointer;
}

.day:hover,
.day + #currentDay {
    background-color: #ffffff80;
    box-shadow: 0px 0px 31px 1px #1e1e3c40;
}

.event {
    font-size: 0.625rem;
    max-height: 3.5rem;
    padding: 3px;
    border-radius: 0.4rem;
    background-color: #58bae4;
    color: white;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    opacity: 0;
}

#newEventModal,
#deleteEventModal {
    display: none;
    position: absolute;
    top: 100px;
    left: calc(50% - 175px);
    width: 45%;
    height: 27%;
    padding: 25px;
    border-radius: 1.5rem;
    background-color: #e0e0e0;
    box-shadow: 0 0px 25px -4px #1e1e3c40;
    z-index: 10;
}

#eventTitleInput {
    position: absolute;
    top: 35%;
    border: 2px solid black;
    box-shadow: none;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 13px #bebebe, inset -7px -7px 13px #ffffff;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton,
#deleteButton {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 30%;
    height: 2.5rem;
    padding: 0;
    font-size: 1.5rem;
    background-color: #0000004d;
}

#saveButton,
#closeButton {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 25%;
    height: 2.5rem;
    padding: 0;
    font-size: 1.5rem;
    background-color: #0c949c;
    box-shadow: 0 0px 25px -4px #1e1e3c40;
}
#saveButton:hover,
#closeButton:hover {
    background-color: #0c949c;
}

#eventText {
    font-size: 1rem;
}

#modalBackDrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
}

body.flat * {
    box-shadow: none !important;
}

body.dark {
    background: linear-gradient(-135deg, #e0005f, #4500ac);
}

body.corner * {
    border-radius: 0 !important;
}

.addElement {
    position: absolute;
    top: 5rem;
    right: 1rem;
    z-index: 2;
}

.addButton {
    height: 3rem;
    width: 3rem;
    backdrop-filter: blur(12px);
    font-size: 2rem;
    color: #ffffff80;
    background-color: #ffffff4d;
}

.addElementModal {
    width: 40%;
    height: 40%;
    z-index: 4;
    border-radius: 1.5rem;
    background-color: #ffffff4d;
    box-shadow: 0px 0px 40px -6px #00000033;
    padding: 1rem;
    display: grid;
    grid-template-areas:
        'header header header'
        'addElementTodo addElementWeather addElementCalendar'
        'todoImage weatherImage calendarImage';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    align-items: center;
    gap: 0.5rem;
}

.addElementModalBD {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005a;
    z-index: 3;
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    grid-area: header;
}

.addElementSelect {
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 0;
    left: 0;
    border: none;
    grid-area: check;
}

img {
    width: 100%;
}

.todoImage {
    grid-area: todoImage;
}

.weatherImage {
    grid-area: weatherImage;
}

.calendarImage {
    grid-area: calendarImage;
}

#addElementTodo {
    grid-area: addElementTodo;
}

#addElementWeather {
    grid-area: addElementWeather;
}

#addElementCalendar {
    grid-area: addElementCalendar;
}

.show {
    display: block;
}

.dropButton {
    height: 3rem;
    font-size: 1.5rem;
    transition: 0.5s;
    backdrop-filter: blur(12px);
    background-color: #ffffff4d;
}

.dropDown:hover .dropButton {
    border-radius: 50% 50% 0 0;
    box-shadow: none;
}

.dropDown {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}

.dropDownContent {
    position: absolute;
    top: 3rem;
    right: -27rem;
    width: 18rem;
    height: 10rem;
    opacity: 0;
    transition: 0.8s;
    border-radius: 1rem 0 1rem 1rem;
    background-color: #ffffff4d;
    backdrop-filter: blur(12px);
}

.dropDown:hover .dropDownContent {
    opacity: 1;
    transform: translateX(-27rem);
}

#checkbox,
#checkbox2,
#checkbox3 {
    display: none;
}

.label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: #ffffff4d;
    box-shadow: 0 0px 25px -4px #1e1e3c2a;
    cursor: pointer;
}

#dark {
    top: 4rem;
}

#checkbox:checked + .label .ball,
#checkbox2:checked + .label .ball,
#checkbox3:checked + .label .ball {
    transform: translateX(1.9rem);
}

#checkbox:checked + .label,
#checkbox2:checked + .label,
#checkbox3:checked + .label {
    background-color: #ffffffa6;
}

.ball {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    transition: 0.2s;
    background-color: #fff;
}

.settingName {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}

#darkName {
    top: 4rem;
}
#corner,
#cornerName {
    top: 7rem;
}

a,
.link {
    position: absolute;
    top: 0;
    left: 0.5rem;
    opacity: 0.3;
    font-size: 2rem;
    transition: 0.8s;
    color: #fff;
}

a:hover {
    opacity: 1;
}

a:hover .link {
    transform: translateX(27.5rem);
    opacity: 1;
}

.link {
    left: -25rem;
    top: 0.5rem;
}

aria-label {
    font-size: 0;
}

::placeholder {
    color: #303030;
}
