* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-135deg, #fc466b, #3f5efb);
    overflow: hidden;
}

.iconButton, button, input {
    border-radius: 1.5rem;
    transition: 0.2s;
    border: none;
}

body, input {
    color: #303030;
}

input {
    position: absolute;
    top: 3rem;
    left: 5%;
    width: 90%;
    height: 3rem;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    transition: background-color 0.2s !important;
    font-family: "Poppins", sans-serif;
}

button{
    height:2.5rem;
    width:7.5rem;
    font-size:1.5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;

}

.iconButton ,.completeButton,.trashButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    background-color: #ffffff00;
    color: rgba(255, 255, 255, 0.602);
    cursor: pointer;
}

input:active, input:focus, select:active, select:focus{
    background-color: #ffffff80 !important;
    outline: none;
}
:focus{
    outline: none;
}

.button:hover, .iconButton:hover,
.iconButton:focus, .iconButton:active,
.button:focus, .button:active {
    color: #fff;
}

.glass {
    border-radius: 1.5rem;
    background-color: #ffffff59;
    border: none;
    transition: box-shadow 0.3s, opacity 0.3s, backdrop-filter 0.3s, border-radius 0.3s, -webkit-backdrop-filter 0.3s;
    box-shadow: 0 12px 30px -6px rgba(30, 30, 60, 0.15), 0 0 0 1px hsla(0, 0%, 100%, 0.5) !important;
}

.ffPopup {
    display: none;
}

.ffPopup{
    display: none;
}

@-moz-document url-prefix() {
    .ffPopup {
        display:flex;
        max-width:35vw;
        height:auto;
        background-color:#eeeeee;
        z-index: 9;
        font-size: 1.6rem;
        border-radius: 0 1.5rem 1.5rem 1.5rem;
        flex-direction: column;
        padding:1rem
    }
    .instructionList,.instructionParagraph{
        margin:0rem;
        padding:1rem;
        text-align: center;
        background-color: #0c949c;
        color:white;
        border-radius: 1.5rem;
    }
    .instructionList{
        margin: 1rem 0;
    }
    code{
        margin:0;
        padding:0;
        font-size:1.4rem;
    }
    .instruction{
        margin:1rem;
    }
    .closeFFPopup{
        color:#0c949c;
        font-size: 2rem;
        position:fixed;
        margin: -1rem 0 0 -4rem;
        padding:.5rem;
        background-color: #eeeeee;
        border-radius: 1.5rem 0 0 1.5rem;
    }
}




.appWrap {
    position: absolute;
    padding-top: 6rem;
    width: 23rem;
    height: 23rem;
    min-width: 6rem;
    min-height:6rem;
    overflow: hidden;
    resize: both;
    border: 1px solid #ffffff40 !important;
    box-shadow: 0 12px 40px -6px #00000033 !important;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

#calendarWrap {
    height: auto;
}

.wrapHeader {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: #ffffff26;
    cursor: move;
    z-index: 3;
}

.removeButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
}

#calendarWrap {
    width: 770px;
    padding-top: 1rem;
}

.todoInput {
    width: 60%;
}

.todoButton {
    position: absolute;
    top: 3rem;
    right: 35%;
    font-size: 3rem;
}

.todoContainer {
    display: flex;
    justify-content: center;
}

.todoList {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 50%;
    list-style: none;
}

.todo {
    display: flex;
    width: 100%;
    height: 3rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    transition: opacity 0.2s;
    background-color: #ffffff59;
    box-shadow: 0 0 25px -4px #1e1e3c2a, 0 0 0 1px hsla(0, 0%, 100%, 0.5);
    transform: translateY(1rem);
}

.todoItem {
    width: 100%;
    padding: 0.4rem 1rem;
}

.completeButton {
    font-size: 1rem;
    color: #303030;
    box-shadow: -25px 0 25px -13px rgba(30, 30, 60, 0.15);
}

.completeButton, .trashButton {
    height: 3rem;
    background-color: #ffffff59;
}

.trashButton {
    padding: 0 0.9rem;
    width:3rem;
    font-size: 1rem;
    color: #303030;
    box-shadow: -25px 0 25px -13px rgba(30, 30, 60, 0.15);
}

.fa-check, .fa-trash {
    pointer-events: none;
}

.completeButton {
    padding: 0 4rem 0 1.5rem;

}

.completeButton:hover {
    color: #adff2f;
}

.trashButton {
    position: absolute;
    right: 0;
    z-index: 2;
}

.trashButton:hover {
    color: #ff6347;
}

.fall {
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.select {
    position: absolute;
    top: 3rem;
    right: 5%;
    width: 25%;
}

.filterTodo {
    transition: background-color 0.2s;
}

.fa-plus-circle::before {
    position: absolute;
    top: 0;
    left: 0;
}

.fa-chevron-circle-down {
    position: absolute;
    right: 0;
    font-size: 3rem;
}

#weekdays div,
.city, .date, .highLow, .temp, .weather {
    display: flex;
    justify-content: center;
}

.temp {
    font-size: 4rem;
}

#header {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    height: 4rem;
    font-weight: 600;
}

#backButton, #nextButton {
    position: absolute;
    top: 2.5rem;
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #ffffff9a;
    color: #303030;
}

#backButton:hover, #nextButton:hover, 
#backButton:focus, #nextButton:focus, 
#backButton:active, #nextButton:active {
    background-color: #fff;
}

#nextButton {
    right: 1rem;
}

#backButton {
    right: 6rem;
}

#calendar, #weekdays {
    display: flex;
}

#weekdays div {
    width: 7.5rem;
}

#calendar {
    flex-wrap: wrap;
    width: 100%;
}

.day {
    width: 6.25rem;
    height: 6.25rem;
    padding: 0.7rem;
    margin: 0.3rem;
    border-radius: 1rem !important;
    transition: background-color 0.2s;
    cursor: pointer;
}

.day + #currentDay, .day:hover {
    background-color: #ffffff80 !important;
}

.event {
    font-size: 0.625rem;
    max-height: 3.5rem;
    padding: 3px;
    border-radius: 0.4rem;
    background-color: #58bae4;
    color: #fff;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    opacity: 0;
}

#deleteEventModal, #newEventModal {
    display: none;
    position: absolute;
    top: 100px;
    left: calc(50% - 175px);
    width: 45%;
    height: 27%;
    padding: 25px;
    border-radius: 1.5rem;
    background-color: #e0e0e0;
    box-shadow: 0 0 25px -4px #1e1e3c40;
    z-index: 10;
}

#eventTitleInput {
    position: absolute;
    top: 35%;
    border: 2px solid #000;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 13px #bebebe, inset -7px -7px 13px #fff;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton, #deleteButton {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 30%;
    height: 2.5rem;
    padding: 0;
    font-size: 1.5rem;
    background-color: #00000059;
}

#closeButton, #saveButton {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 25%;
    height: 2.5rem;
    padding: 0;
    font-size: 1.5rem;
    background-color: #0c949c;
}

#eventText {
    font-size: 1rem;
}

#modalBackDrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
}

body.flat * {
    box-shadow: none !important;
}

body.dark {
    background: linear-gradient(-135deg, #e0005f, #4500ac);
}

body.corner * {
    border-radius: 0 !important;
}

.addElement {
    position: absolute;
    top: 5rem;
    right: 1rem;
    z-index: 2;
}

.addButton {
    height: 3rem;
    width: 3rem;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    font-size: 2rem;
    color: #ffffff80;
    background-color: #ffffff59;
}

.addElementModal {
    width: 35%;
    height: 70%;
    z-index: 4;
    border-radius: 1.5rem;
    background-color: #ffffff59;
    box-shadow: 0 0 40px -6px #00000033;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.addElementModalBD {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005a;
    z-index: 3;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

#quoteWrap {
    padding:0;
    display: flex;
    justify-content: center;
}

.quoteBox{
    font-size:2rem;
    text-align: center;
    margin:.5rem;
    margin-top:2.5rem;
    max-width:25rem;
}

.quoteButton{
    min-width:11rem;
    position: absolute;
    bottom:1rem;
    transition: background-color .2s;
}

.quoteButton:hover,.quoteButton:focus{
    background-color: #ffffff;
}

img {
    width: 15rem;
    border-radius: 12px;
    margin: 0.5rem;
}

.dropButton {
    height: 3rem;
    font-size: 1.5rem;
    transition: border-radius 0.5s, color 0.5s;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: #ffffff59;
}

.dropDown:hover .dropButton {
    border-radius: 50% 50% 0 0;
    box-shadow: none;
}

.dropDown {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}

.dropDownContent, .label {
    position: absolute;
    background-color: #ffffff59;
}

.dropDownContent {
    top: 3rem;
    right: -27rem;
    width: 18rem;
    height: 13.5rem;
    opacity: 0;
    transition: transform 0.45s cubic-bezier(0.75, 0, 1, 1), opacity 0.4s cubic-bezier(0.75, 0, 1, 1);
    transform: translateX(1rem);
    border-radius: 1.5rem 0 1.5rem 1.5rem !important;
    border: none !important;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.clearLocalStorage{
    position: absolute;
    top:9rem;
    margin:1rem;
    width:calc(100% - 2rem);
}

.dropDown:hover .dropDownContent {
    opacity: 1;
    transition: transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .7s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(-27rem);
}

#checkbox, #checkbox2, #checkbox3 {
    display: none;
}

.label {
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    border: none !important;
    cursor: pointer;
}

#dark,
#darkName {
    top: 4rem;
}

#checkbox2:checked + .label .ball,
#checkbox3:checked + .label .ball,
#checkbox:checked + .label .ball {
    transform: translateX(1.9rem);
}

#checkbox2:checked + .label,
#checkbox3:checked + .label,
#checkbox:checked + .label {
    background-color: #ffffffa6;
}

.ball {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    transition: 0.2s;
    background-color: #fff;
}

.settingName {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}

#corner, #cornerName {
    top: 7rem;
}

.link,
a {
    position: absolute;
    top: 0;
    left: 0.5rem;
    opacity: 0.3;
    font-size: 2rem;
    transition: 0.4s cubic-bezier(0.75, 0, 1, 1) 0s;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.link {
    left: -25rem;
    top: 0.5rem;
}

a:hover {
    opacity: 1;
}

a:hover .link {
    transform: translateX(27.5rem);
    transition: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    opacity: 1;
}

aria-label {
    font-size: 0;
}

::placeholder {color: #303030; opacity: 1;}
::-moz-placeholder {color: #303030; opacity: 1;}
::-webkit-input-placeholder {color: #303030; opacity: 1;}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}